.calculator {
    width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 5px;
    background-color:rgb(41, 37, 37);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(129, 235, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(60, 85, 46);
}